/*Basic style*/

body {
  font-family: 'Poppins', sans-serif;
  background: #fff
}

.container {
  @include min-max(320px, 100%);
}

.wrap {
  @include min-max(320px, 1378px);
}

p,
a,
button {
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1400px) {
  body {
    padding: 0 10px;
  }
}