.activities {
    margin-top: 120px;

    & .wrap {
        position: relative;
    }

    &__view-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        display: flex;
        gap: 8px;
        background: #F6F4FF;
        color: #5243C2;
        border: none;
        cursor: pointer;
    }

    &__title {
        font-size: 32px;
        line-height: 48px;
        font-weight: 600;
    }

    &__list {
        margin-top: 64px;
        display: flex;
        gap: 32px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 16px;

        img {
            width: 320px;
            height: 380px;
        }

        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #161414;
        }
    }
}

@media screen and (max-width: 1200px) {
    .activities {
        margin-top: 50px;
    }

    .activities__title {
        text-align: center;
    }

    .activities__list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}