.footer {
    background: #F9F9F9;
    margin-top: 120px;
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    &__about {
        max-width: 354px;
    }

    &__nav {
    }

    & .wrap {
        display: flex;
        gap: 64px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        a {
            display: flex;
        }

        p {
            font-weight: 700;
            font-size: 28px;
            line-height: 28px;
            color: #161414;
            margin-right: 4px;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }

    &__text-block {
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #5B5B5B;
    }

    &__social-links {
        margin-top: 32px;
        display: flex;
        gap: 32px;

        li {
            cursor: pointer;
        }
    }

    &__menu {
        display: flex;
        gap: 64px;
    }

    &__menu-wrap {
        width: 125px;
    }

    &__menu-list {
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}

.footer {
    &__subscribe-wrap {
        display: flex;
        margin-top: 20px;
        height: 72px;
        gap: 16px;
    }

    &__subscribe-field {
        display: flex;
        width: 258px;
        align-items: center;
        justify-content: center;
        background: #ffff;
        border-radius: 12px;
        gap: 8px;
        align-items: center;
        position: relative;


          
        
        input {
            outline: none;
            border: none;
            height: 100%;
            transition: all 0.3s ease;
            color: #161414;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            transition: all 0.5s ease-in-out;

          &::placeholder {
            color: #5B5B5B;
            font-size: 14px;
            font-weight: 300;
          }
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__subscribe-btn {
        padding: 24px;
        background: #7B61FF;
        border-radius: 12px;
        cursor: pointer;
        border: none;
    }
}