.tips {
    margin-top: 120px;

    & .wrap {
        position: relative;
    }

    &__view-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        display: flex;
        gap: 8px;
        background: #F6F4FF;
        color: #5243C2;
        border: none;
        cursor: pointer;

        img {
            fill: #5243C2;
            color: #5243C2;
        }

    }

    &__title {
        font-size: 32px;
        line-height: 48px;
        font-weight: 600;
    }

    &__list {
        display: flex;
        gap: 32px;
        margin-top: 64px;

    }

    &__card {
        display: flex;
        gap: 32px;

        img {
            width: 320px;
            height: 380px;
            border-radius: 24px;
        }

        h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #5B5B5B;
            flex-grow: 1;
        }
    }

    &__info {
        width: 320px;
        display: flex;
        flex-direction: column;
    }

    &__card-info {
        display: flex;
        gap: 24px;

    }

    &__card-info-item {
        display: flex;
        align-items: center;
        gap: 4px;

        img {
            width: 20px;
            height: 20px;
        }

        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .tips {
        margin-top: 50px;
    }

    .tips__view-btn {
        top: 10px;
    }

    .tips__title {
        text-align: center;
    }

    .tips__list {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 32px;
    }

    .tips__card {
        justify-content: space-around;
        gap: 32px;
    }

    .tips__info {
        width: 450px
    }
}

@media screen and (max-width: 850px) {

    
    .tips__card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .tips__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}